input .user_input{
    width: 300px;
}

input[type=submit]{
    margin: 15px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    color: #312f2f;
    background-color: whitesmoke;
    text-decoration: none;
}

input[type=submit] :hover{
    padding: 0 5px;
    color: whitesmoke;
    background-color: #818181;
    text-align: center;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.roomCategory{
    position: relative;
}

select{
    color: black;
    margin: 0px 15px;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 9px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

th, td{
    padding: 5px;
}

td a{
    color: black;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #AFE1AF;
    text-decoration: none;
}
td a:hover{
    color: white;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #5F8575;
    text-decoration: none;
    transition-duration: 0.5s;
}
#add_room{
    color: white;
    padding: 3px 5px;
    border:1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    background-color: #32CD32;
}
#add_room:hover{
    color: white;
    padding: 3px 5px;
    border:1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    background-color: #5F8575;
    transition-duration: 0.5s;
}
#delete_order:hover{
    color: white;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(189, 40, 40);
    text-decoration: none;
    transition-duration: 0.5s;
}

#view_list{
    color: black;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #AFE1AF;
    text-decoration: none;
}
#view_list:hover{
    color: white;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #5F8575;
    text-decoration: none;
    transition-duration: 0.5s;
}